<h1>Fill out info below</h1>
<form class="" action="/users/create" method="post">
  username <br><input type="text" name="username" value=""><br>
  password <br><input type="password" name="password" value=""><br>
  confirm password <br><input type="password" name="confirm" value=""><br>
  email <br><input type="text" name="email" value=""><br>
  age <br><input type="text" name="age" value=""><br>
  <button type="submit" name="button">Submit</button>
</form>
