<h1>Login</h1>
<form class="" action="/users/login" method="post">
  Username <br><input type="text" name="" value=""><br>
  Password <br><input type="password" name="" value=""> <br><br>
  <button type="submit" name="button">Submit</button>
</form>
